.scheduler { max-width: 1000px; min-width: 900px; margin: 30px auto; }
.scheduler .nav { margin-bottom: 25px; }
.scheduler .nav .month { font-size: 40px; font-weight: 500; margin-right: 10px; }
.scheduler .nav .year { font-size: 15px; }

.scheduler .yoils li { float: left; width: calc(100% / 7); text-align: center; }
.scheduler .yoils:after { content: ""; display: block; clear: left; }

.scheduler .yoils li:first-child { color: red; }
.scheduler .yoils li:last-child { color: blue; }

.scheduler .yoils { border-bottom: 1px solid #000000; }

.scheduler .days li { float: left; width: calc(100% / 7); height: 150px; border-bottom: 1px solid #cecece; border-left: 1px solid #cecece; }
.schediler .days li:nth-child(7n+1) { border-left: 0; }
.scheduler .days .day { padding: 10px; font-size: 12px; }


#frmSchedule .box1 input[type='text'] { height: 45px; font-size: 20px; color: #666666; border: 0; }
#frmSchedule .box1 .color label { display: block; width: 25px; height: 25px; cursor: pointer; border-radius: 50%; }
#frmSchedule .box1 input[type='radio'] { display: none; }
#frmSchedule .box1 input[type='radio']:checked+label { border: 2px solid black; }
#frmSchedule .box1 li { float: left; margin-right: 20px; }
#frmSchedule .box1 ul:after { content: ''; display: block; clear: left; }
#frmSchedule .box1 { border-bottom: 1px solid #d5d5d5; margin-bottom: 25px; padding-bottom: 5px; }
#frmSchedule .box .color { margin-bottom: 10px; }

#frmSchedule dl { padding: 0; margin: 0; display: table; width: 100%; }
#frmSchedule dt { display: table-cell; vertical-align: middle; width: 60px; }
#frmSchedule dd { display: table-cell; vertical-align: middle; }
#frmSchedule dd input[type='text'] { border: 1px solid #d5d5d5; height: 45px; border-radius: 5px; padding: 0 10px; width: 100%; }

#frmSchedule .save { position: absolute; bottom: 30px; background-color: #d5d5d5; width: calc(100% - 60px); left: 30px; height: 50px; border-radius: 7px; text-align: center; cursor: pointer; line-height: 50px; font-size: 17px; }